<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.full_name %>,</p>
    <p>
      Thanks for using Rotten Mangoes. Your account has been deleted.
      
      Regrads,
      Team Rotten Mangoes
    </p>
  </body>
</html>